.image {
  width: 350px;
  min-height: 400px;
  border-radius: 8px 4px 4px 4px;
  transition: all 1s ease;
}
#image.active img {
  display: none;
}
#image.active {
  background-image: url(../img/pictureMyself.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}

.armazem {
  position: relative;
}

.button-icon {
  background: white;
  border: 1px solid black;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  position: absolute;
  top: 33%;
  right: -5%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button-icon:hover {
  transform: scale(1.1);
}

.button-icon.active {
  transform: rotate(-180deg);
  top: 45%;
  right: 93%;
}

@media (max-width: 999px) {
  .armazem {
    display: none;
  }
}
